@media screen and (max-width: 780px) {
    body h1 {
      font-size: 4em;
      text-align: center;
      margin-top: 4em;
    }

    #barra {
        width: 15em;
    }

    #botao {
        width: 0em;
    }
  }