@import url('./fontes.css');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
}

body h1 {
    font-family: 'Chocolate';
    margin-top: 15%;
    font-size: 7em;
    color: rgb(38, 39, 39);
    animation: acender 2s linear infinite;
}

@keyframes acender {
    0% {
        text-shadow: 2px 2px 8px rgb(72, 255, 0);
    }
    100% {
        text-shadow: 2px 2px 8px rgb(235, 1, 1);
    }
}

.barra_pesquisa {
    display: flex;
    border: 1px solid black;
    border-radius: 4em;
    padding: 1em;

}

#barra {
    width: 40em;
    height: 3em;
    border: none;
    outline: none;
}

#botao {
    width: 5em;
    height: 3em;
    display: none;
}

#icone {
    font-size: 2em;
    margin-top: .1em;
}